{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "include": ["transform-es2015-spread"]
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
